body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px auto;
	/* background-size: cover;
   	background-image: url('../image/app_background.png'); */
}

label, input, select, textarea{
	width: 100%;
}

label.label_content{
	font-weight: bold;
}

label+input, label+select, label+textarea{
	margin-top: 5px;
}

input[type=submit], input[type=button] {
    cursor: pointer;
}

.appTitle {
	font-size: 20px;
}

.appTitleMargin {
	margin: 3px 0px 0px -4px;
}

.appHelptext {
	color: red;
	font-size: 20px;
}

.loginPageHeadTitle {
	font-size: 16px;
}

.marginBetweenFields {
	margin: 10px;
}

.loginPageFormContents {
	width: 300px;
}

.loginPageFormContents label {
	width: auto;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.pull-right {
	float: right;
}

.margin-center {
	margin: 0px auto;
}

.fieldMandatory {
	color: red;
}

input:required:invalid, input:focus:invalid {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
	background-position: right top;
	background-repeat: no-repeat;
	-moz-box-shadow: none;
}

input:required:valid {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
	background-position: right top;
	background-repeat: no-repeat;
}

ul#nonLoggedInUserNavigationBar {
	list-style-type: none;
	margin: 0px auto;
	padding: 0;
	overflow: hidden;
	width: 50%;
	height: 32px;
	border: 1px solid red;
}

ul#nonLoggedInUserNavigationBar li {
	float: left;
	width: 24.91%;
}

ul#nonLoggedInUserNavigationBar li:not(:last-child ) {
	border-right: 1px solid red;
}

ul#nonLoggedInUserNavigationBar li a {
	display: block;
	color: red;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
}

/* ul#nonLoggedInUserNavigationBar li a:hover:not(.active) {
    
} */
ul#nonLoggedInUserNavigationBar li a.active {
	background-color: red;
	color: white;
}

.signUp, .forgotPassword{
	color: red;
	text-decoration: none;
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
	width     : 2em;
	margin    : 0;
	padding   : 0;
	font-size : 1em;
}
input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
	display      : inline-block;
	margin-left  : -0.5em;
	line-height  : 1.5em;
	vertical-align: bottom;
}

.columnLayoutContainer{
	display: table;
}

.columnLayoutContainer .columnLayoutContainerCol{
	display: table-cell;
}

.formRadioContents{
	margin-top: 5px;
}

ul#loggedInUserNavigationBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12%;
    background-color: #f1f1f1;
    position: fixed;
    top: 30px;
    height: 100%;
    overflow: auto;
}

ul#loggedInUserNavigationBar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

ul#loggedInUserNavigationBar li a.active {
    background-color: #4CAF50;
    color: white;
}

ul#loggedInUserNavigationBar li a:hover:not(.active) {
    background-color: #555;
    color: white;
    cursor: pointer;
}

div#loggedInUserDisplayContainer {
	margin-left:12%;
	margin-top: 20px;
	padding:1px 16px;
	height:auto;
}

div.applicationHeaderSectionAppNameClass {
	position: relative;
    top: 0;
    left: 0;
    width: 50%;
    display: inline-block;
}

div.applicationHeaderSectionClass{
	background-color: #37444e;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
}

div#applicationHeaderSection div#headerAdditionalDetails {
	position: relative;
    top: -3px;
    right: 5px;
    width: 49%;
    display: inline-block;
}

div#applicationHeaderSection div#headerAdditionalDetails .loggedUserDetailClass {
	display: inline;
    margin-right: 15px;
}

div#applicationHeaderSection div#headerAdditionalDetails .logoutLinkClass {
	color: white;
	font-size: 10px;
}
.loggedUserModuleTitle{
	padding-left: 10px;
}
#moduleDetailDivContainer{
	
}

div#blockUIContainer div.blockUI.blockOverlay{
	z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(0, 0, 0); opacity: 0.6; cursor: wait; position: fixed;
}

div#blockUIContainer div.blockUI.blockMsg.blockPage{
	z-index: 1011; position: fixed; padding: 15px; margin: 0px; width: 30%; top: 40%; left: 35%; text-align: center; color: rgb(255, 255, 255); border: none; background-color: rgb(0, 0, 0); cursor: wait; border-radius: 10px; opacity: 0.5;
}

div#tableLayoutContainer .pagination {
	margin-top: 5px; 
    display: inline-block;
}

div#tableLayoutContainer .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    cursor: pointer;
}

div#tableLayoutContainer .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    cursor: not-allowed;
}

div#tableLayoutContainer .pagination a:hover:not(.active) {
	background-color: #ddd;
}

table#viewResultsTable {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
table#viewResultsTable th {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #4CAF50;
    color: white;
}
table#viewResultsTable td, table#viewResultsTable th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}
table#viewResultsTable tr:nth-child(even) {
    background-color: #f2f2f2;
}
div#viewResultsSearchCriteria{
	margin-bottom: 5px;
}