body {
	font-family: Arial, sans-serif;
	font-size: 12px;
	/* background-size: cover;
   	background-image: url('../image/app_background.png'); */
}

label, input, select, textarea{
	width: 100%;
}

label.label_content{
	font-weight: bold;
}

label+input, label+select, label+textarea{
	margin-top: 5px;
}

input[type=submit] {
    cursor: pointer;
}

.appTitle {
	color: red;
	font-size: 24px;
}

.appHelptext {
	color: red;
	font-size: 20px;
}

.loginPageHeadTitle {
	font-size: 16px;
}

.marginBetweenFields {
	margin: 10px;
}

.loginPageFormContents {
	width: 300px;
}

.loginPageFormContents label {
	width: auto;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.pull-right {
	float: right;
}

.margin-center {
	margin: 0px auto;
}

.fieldMandatory {
	color: red;
}

input:required:invalid, input:focus:invalid {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
	background-position: right top;
	background-repeat: no-repeat;
	-moz-box-shadow: none;
}

input:required:valid {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
	background-position: right top;
	background-repeat: no-repeat;
}

ul#nonLoggedInUserNavigationBar {
	list-style-type: none;
	margin: 0px auto;
	padding: 0;
	overflow: hidden;
	width: 50%;
	height: 32px;
	border: 1px solid red;
}

ul#nonLoggedInUserNavigationBar li {
	float: left;
	width: 24.80%;
}

ul#nonLoggedInUserNavigationBar li:not(:last-child ) {
	border-right: 1px solid red;
}

ul#nonLoggedInUserNavigationBar li a {
	display: block;
	color: red;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
}

/* ul#nonLoggedInUserNavigationBar li a:hover:not(.active) {
    
} */
ul#nonLoggedInUserNavigationBar li a.active {
	background-color: red;
	color: white;
}

.signUp, .forgotPassword{
	color: red;
	text-decoration: none;
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
	width     : 2em;
	margin    : 0;
	padding   : 0;
	font-size : 1em;
}
input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
	display      : inline-block;
	margin-left  : -0.5em;
	line-height  : 1.5em;
	vertical-align: bottom;
}

.columnLayoutContainer{
	display: table;
}

.columnLayoutContainer .columnLayoutContainerCol{
	display: table-cell;
}

.formRadioContents{
	margin-top: 5px;
}

ul#loggedInUserNavigationBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul#loggedInUserNavigationBar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

ul#loggedInUserNavigationBar li a.active {
    background-color: #4CAF50;
    color: white;
}

ul#loggedInUserNavigationBar li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div#loggedInUserDisplayContainer{
	margin-left:12%;
	padding:1px 16px;
	height:auto;
}